In [ ]:
#1. Write a Python program to create and display a one-dimensional array-like object containing an array of 
#data using Pandas module.

In [1]:
import pandas as pd

In [6]:
first_series = pd.Series([1,2,3,4,5])
first_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Write a Python program to convert a Panda module Series to Python list and it's type.

In [10]:
pd_to_list = pd.Series.tolist(first_series)
pd_to_list

[1, 2, 3, 4, 5]

In [ ]:
#Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [12]:
sample_series1 = pd.Series([2, 4, 6, 8, 10])
sample_series2 = pd.Series([1, 3, 5, 7, 9])

In [14]:
add_series = sample_series1.add(sample_series2)
add_series

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [15]:
subtract_series = sample_series1.subtract(sample_series2)
subtract_series

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [16]:
multiply_series = sample_series1.multiply(sample_series2)
multiply_series

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [17]:
divide_series = sample_series1.divide(sample_series2)
divide_series

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [ ]:
#Write a Python program to convert a dictionary to a Pandas series

In [18]:
converted_dictionary = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
converted_dictionary

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
#Write a Python program to convert a NumPy array to a Pandas series

In [20]:
array1 = [10, 20, 30, 40, 50]

In [22]:
np_to_pd_series = pd.Series(array1)
np_to_pd_series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#Write a Python program to change the data type of given a column or a Series to numeric

In [ ]:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object

In [28]:
original_data_series = pd.Series([100, 200, 'python', 300.12, 400])

In [37]:
new_dtype = pd.to_numeric(original_data_series, errors = 'coerce')
new_dtype

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [ ]:
#Write a Python Pandas program to convert the first column of a DataFrame as a Series

In [40]:
d = pd.DataFrame({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]})
d

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [42]:
first_column = d['col1']
first_column

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [ ]:
#Write a Pandas program to convert a given Series to an array

In [46]:
new_array = original_data_series.to_numpy()
new_array

array([100, 200, 'python', 300.12, 400], dtype=object)

In [ ]:
#Write a Pandas program to convert Series of lists to one Series

In [57]:
series1 = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

In [58]:
series1.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [ ]:
#Write a Pandas program to sort a given Series

In [64]:
sort1 = pd.Series(original_data_series).sort_values()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
#Write a Pandas program to add some data to an existing Series.

In [66]:
data_to_append = pd.Series([100, 200, 'python' ,300.12, 400, 500, 'php'])

In [69]:
new_series = original_data_series.append(data_to_append)
new_series

0       100
1       200
2    python
3    300.12
4       400
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [ ]:
#Write a Pandas program to create a subset of a given series based on value and condition.

In [70]:
nums = pd.Series([1,2,3,4,5,6,7,8,9])
nums

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [72]:
nums[0:5] # method 1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [73]:
nums.iloc[:5] # menthod 2 by values

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [76]:
nums.loc[:4] # method 3 by index number

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Write a Pandas program to change the order of index of a given series

In [77]:
index_to_be_changed = pd.Series({'A' : 1, 'B' : 2, 'C' : 3, 'D' : 4, 'E' : 5})
index_to_be_changed

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [78]:
new_index = index_to_be_changed.reindex(index = ['C', 'E', 'A', 'D', 'B'])
new_index

C    3
E    5
A    1
D    4
B    2
dtype: int64

In [ ]:
#Write a Pandas program to create the mean and standard deviation of the data of a given Series

In [84]:
num_list = pd.Series([1, 2, 3, 8, 22, 39, 101, 4, 1, -56, -12, 41, 77])

In [88]:
num_list.agg(['max', 'min', 'mean', 'median', 'std', 'var'])

max        101.000000
min        -56.000000
mean        17.769231
median       4.000000
std         39.881395
var       1590.525641
dtype: float64